[submodule "mh-z19"]
	path = mh-z19
	url = https://github.com/vogler/mh-z19.git
[submodule "python-pms7003"]
	path = python-pms7003
	url = https://github.com/vogler/python-pms7003.git
[submodule "FlowMeter"]
	path = FlowMeter
	url = https://github.com/vogler/FlowMeter.git
[submodule "BloodPressureWifi"]
	path = BloodPressureWifi
	url = https://github.com/vogler/BloodPressureWifi.git
[submodule "esp-doorbell"]
	path = esp-doorbell
	url = https://github.com/vogler/esp-doorbell.git
[submodule "AS7265x"]
	path = AS7265x
	url = https://github.com/vogler/AS7265x.git
